name: Validate with hassfest

# yamllint disable-line rule:truthy
on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"
permissions:
  contents: read
jobs:
  validate:
    if: github.repository_owner == 'SukramJ'
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - uses: home-assistant/actions/hassfest@master
